.container {
  background-color: #000;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #fff;
  padding-inline: 80px;
  max-width: 1440px;
  margin: 0 auto;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 20px;
    padding-inline: 20px;
  }
}

.left {
  display: flex;
  flex-direction: column;
  gap: 50px;
  @media screen and (max-width: 768px) {
    gap: 20px;
    align-items: center;
  }
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.info {
  @media screen and (max-width: 768px) {
    text-align: center;
  }
}

.text {
  font-size: 1rem;
  margin: 5px 0;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  @media screen and (max-width: 768px) {
    align-items: center;
    gap: 20px;
    text-align: center;
  }
}

.button {
  background-color: #c19d63;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.2px;
  border: none;
  padding: 10px 20px;

  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 5px;

  &:hover {
    background-color: #aa854d;
  }
}

.details {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contactTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 5px 0;
  @media screen and (max-width: 768px) {
    justify-content: center;
  }

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
}

.logoImage {
  max-width: 150px;
}
