.container {
  padding: 20px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #134e35; // Verde-escuro semelhante à imagem
  border: 1px solid #c7a265;
  padding: 15px;
  padding-inline: 60px;
  clip-path: polygon(0 0, 90% 0, 100% 55%, 100% 100%, 0 100%);
  max-width: 1440px;
  color: #fff;
  gap: 15px;
  max-width: 800px;
  margin: 0 auto;

  h3 {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.videoContainer {
  width: 220px; // Ajuste conforme necessário
  height: 100px;
  overflow: hidden;
  border-radius: 8px;

  video {
    width: 100%;
    height: 100%;
    border: none;
    object-fit: cover;
    border-radius: 15px;
  }
}

.videoWrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.videoPlayer {
  width: 100%;
  height: auto;
  display: block;
  pointer-events: none;
}

.playButton {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  width: 50px;
  height: 50px;
  @media screen and (max-width: 768px) {
    top: 31%;
  }
}

.videoSection {
  margin-top: 40px;

  h3 {
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }

  .videoGrid {
    display: flex;
    gap: 20px;
    justify-content: center;
    justify-items: center;
    margin-bottom: 30px;

    @media screen and (max-width: 1024px) {
      gap: 15px; /* Reduz o espaçamento entre os vídeos */
    }

    @media screen and (max-width: 768px) {
      flex-direction: column; /* Empilha os vídeos verticalmente */
      gap: 25px; /* Ajusta o espaçamento vertical */
      margin-bottom: 20px; /* Reduz o espaçamento inferior */
    }

    .videoItem {
      position: relative;
      max-width: 400px;
      max-height: 300px;
      border-radius: 5px;
      cursor: pointer;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        transform: scale(1.05); /* Aumenta ligeiramente o tamanho do vídeo */
        box-shadow: 0px 8px 20px rgba(199, 162, 101, 0.8); /* Adiciona um box-shadow */
      }

      @media screen and (max-width: 768px) {
        max-width: 100%; /* O vídeo ocupa toda a largura */
        height: auto; /* Mantém a proporção do vídeo */
      }
    }

    .videoWrapper {
      position: relative;
      width: 100%;
      height: 100%;

      @media screen and (max-width: 768px) {
        height: 300px; /* Permite que o vídeo ajuste sua altura automaticamente */
      }
    }

    .videoPlayer {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
      object-position: center;

      @media screen and (max-width: 768px) {
        border-radius: 10px; /* Bordas arredondadas para telas menores */
      }
    }

    .overlay {
      position: absolute;
      bottom: 0%;
      left: 0%;
      border-radius: 0px 0px 0px 4.864px;
      background: rgba(255, 255, 255, 0.18);
      backdrop-filter: blur(11.348857879638672px);
      padding: 15px 20px;
      text-align: left;
      min-width: 200px;

      @media screen and (max-width: 768px) {
        padding: 10px 15px; /* Reduz o espaçamento interno */
        min-width: 100%; /* Faz a sobreposição ocupar toda a largura */
      }

      h4 {
        color: #fff;
        text-align: left;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
        margin-bottom: 10px;

        @media screen and (max-width: 768px) {
          font-size: 16px; /* Diminui o tamanho do texto */
        }
      }

      p {
        color: #efdede;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.13px;

        @media screen and (max-width: 768px) {
          font-size: 12px; /* Reduz o tamanho do texto */
          line-height: 1.4; /* Ajusta a altura da linha */
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .content {
    padding-inline: 20px;
  }
}
