.container {
  background: transparent;
}

.content {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 80px;
  padding-block: 100px;
  gap: 50px;

  margin-bottom: 40px;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding-inline: 20px;
    padding-block: 20px;
    gap: 0px;
  }
}

.leftside,
.middle {
  img {
    width: 300px;
    height: 100%;
    padding-block: 10px;
    padding-inline: 10px;
  }
}

.phone3 {
  transform: translateY(-200px);
  @media screen and (max-width: 768px) {
    transform: translateY(0px);
  }
}

.leftside {
  display: flex;
  align-self: flex-start;
}

.middle {
  align-self: flex-end;
}

.rightside {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-self: flex-end;
  h2 {
    color: #fff;

    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 48.359px;
  }
  h5 {
    color: rgba(255, 255, 255, 0.85);

    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.buttons {
  display: flex;
  gap: 20px;
  align-items: center;
  padding-bottom: 40px;

  button {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 4px;
    background: linear-gradient(
      100deg,
      #c7a265 -21.45%,
      #a88038 100%,
      #f3d8a2 100%
    );
    border: none;
    padding-inline: 10px;
    padding-block: 10px;
    cursor: pointer;
    font-family: "Audiowide", sans-serif;

    @media screen and (max-width: 768px) {
      font-size: 16px;
      padding-inline: 5px;
    }
  }

  .zero {
    background: none;
  }

  @media screen and (max-width: 768px) {
    justify-content: center;
    flex-wrap: wrap;
  }
}
