@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

:root {
  --background: #000;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Audiowide", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Audiowide", sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(
    --font-family
  ); /* Herdando Audiowide em todos os elementos */
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
